body {
  background: black url(assets/bg.png); }

header {
  margin-bottom: 30px;
  padding-top: 15px; }

.container {
	padding-top: 30px;
}

.carousel {
	/* width: wpisz szerokosc */
	padding: 0
	left: 0;
  text-align: center;
  position: relative;

  width: 7300px;
  height: 300px;


}

.single-slide {
	display: inline-block;
	/* width: wpisz szerokosc */
	text-align: center;
  width: 800px;


}

.single-slide img {

  text-align: center;
  height: 300px;
}

.carousel-stage {
	/* width: wpisz szerokosc */
	/* overflow: dodaj wartość; */
	margin-left: auto;
	margin-right: auto;
	position: relative;
  width: 800px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;



}

.carousel-nav-item {
	color: #fff;
	font-size: 30px;
}

.carousel-nav {
	/* position: ; */
	top: 50%;
	/* transform: translateY(); */
	width: 100%;
  position: absolute;
  transform: translateY(-50%);

}

.carousel-next {
	/* float: ; */
  float: left;
  float: right;
}
